"*":
  Ensime:
    logLevel: "warn"
    sbtExec: "/Users/g/brew/bin/sbt"
  "advanced-new-file":
    suggestCurrentFilePath: true
  "atom-beautify":
    _analyticsUserId: "67dfc99d-cead-4c01-83a7-51ebc6c64343"
    general:
      _analyticsUserId: "837a9990-c007-4d16-8635-d226909adac9"
  "atom-ctags":
    buildTimeout: 100000
  "atomic-emacs":
    alwaysUseKillRing: true
    useAdvancedOpenFile: false
    yankFromClipboard: true
  "autocomplete-plus":
    enableAutoActivation: false
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  core:
    disabledPackages: [
      "symbols-view"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "Thumbs.db"
      "*.aux"
      "*.class"
      "*.gif"
      "*.gz"
      "*.jpg"
      "*.jpeg"
      "*.log"
      "*.pdf"
      "*.png"
      "*.pyo"
      "*.rds"
      "*.scssc"
      "._*"
    ]
    projectHome: "/Users/g/src"
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
    titleBar: "custom"
  "custom-title":
    template: "<%= window.g.windowTitle() %>"
  editor:
    autoIndentOnPaste: false
    fontFamily: "Monaco"
    invisibles: {}
    lineHeight: 1.4
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?-_"
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "7afb8595-45db-0ada-58e4-8cf4614cbd6f"
  "file-types":
    "^Dockerfile\\..*$": "source.dockerfile"
  "find-and-replace":
    projectSearchResultsPaneSplitDirection: "right"
  "fuzzy-finder":
    ignoredNames: [
      "*.class"
      "*.o"
      "*.pyc"
    ]
    preserveLastSearch: true
    searchAllPanes: true
  "git-plus": {}
  hyperclick:
    darwinTriggerKeys: "altKey"
  "incremental-search":
    instantSearch: true
  linter:
    lintOnChangeInterval: 1000
    lintOnOpen: false
    lintPreviewTabs: false
  "linter-rubocop":
    command: "/Users/g/.rbenv/shims/rubocop"
  "linter-ui-default":
    panelHeight: 81
  rspec:
    command: "$( if [ -e bin/rspec ]; then echo -n bin/rspec; elif [ -e Gemfile ]; then echo -n bundle exec rspec; else echo -n rspec; fi )"
    save_before_run: true
  "tab-switcher":
    fadeInDelay: 0
  "tree-view": {}
  welcome:
    showOnStartup: false
".dockerfile.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?-_"
".dockerignore.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?-_"
".erb.html.text":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?-_"
".html.jsp.text":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?-_"
".java-properties.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?-_"
".java.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?-_"
".junit-test-report.text":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?-_"
".ruby.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?-_"
".rust.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?-_"
