"*":
  "exception-reporting":
    userId: "7afb8595-45db-0ada-58e4-8cf4614cbd6f"
  welcome:
    showOnStartup: false
  editor:
    invisibles: {}
    showIndentGuide: true
    autoIndentOnPaste: false
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?-_"
    lineHeight: 1.4
    softWrap: true
    fontFamily: "Monaco"
    fontSize: 12
  core:
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
    projectHome: "/Users/g/src"
    excludeVcsIgnoredPaths: false
    destroyEmptyPanes: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "Thumbs.db"
      "*.aux"
      "*.class"
      "*.gif"
      "*.gz"
      "*.jpg"
      "*.jpeg"
      "*.log"
      "*.pdf"
      "*.png"
      "*.pyo"
      "*.rds"
      "*.scssc"
      "._*"
    ]
  "custom-title":
    template: "<%= projectPath.match(/[^\\/]*$/)[0].split(/\\W+/).filter(function(s) { return s }).map(function(s) { return s.char})join(' ') %>"
  "git-plus": {}
  "advanced-new-file":
    suggestCurrentFilePath: true
  "autocomplete-plus":
    enableAutoActivation: false
  "find-and-replace":
    openProjectFindResultsInRightPane: true
  rspec:
    save_before_run: true
    command: "$( if [ -e bin/rspec ]; then echo -n bin/rspec; elif [ -e Gemfile ]; then echo -n bundle exec rspec; else echo -n rspec; fi )"
  "fuzzy-finder":
    preserveLastSearch: true
    searchAllPanes: true
    ignoredNames: [
      "*.class"
      "*.o"
      "*.pyc"
    ]
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  "linter-rubocop":
    command: "/Users/g/.rbenv/shims/rubocop"
  linter:
    showErrorTabFile: false
    showErrorTabProject: false
    underlineIssues: false
    showErrorInline: false
    errorPanelHeight: 50
  "tab-switcher":
    fadeInDelay: 0
    global: true
  "atom-beautify":
    _analyticsUserId: "67dfc99d-cead-4c01-83a7-51ebc6c64343"
  "activate-power-mode":
    particles:
      size: {}
      spawnCount: {}
      totalCount: {}
    screenShake: {}
".erb.html.text":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?-_"
".html.jsp.text":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?-_"
".ruby.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?-_"
".java.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?-_"
".java-properties.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?-_"
".junit-test-report.text":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?-_"
