'atom-workspace':
  'alt-cmd-r': 'window:reload'
  'cmd-n': 'advanced-open-file:toggle'
  'ctrl-x s': 'window:save-all'
  'cmd-q cmd-q cmd-q': 'application:quit'

'atom-text-editor':
  "ctrl-'": 'core:redo'
  'alt-g': 'go-to-line:toggle'
  'ctrl-shift-T': 'g:transpose-lines'
  'ctrl-x j l': 'bookmarks:view-all'
  'ctrl-x j x': 'bookmarks:clear-bookmarks'
  'ctrl-x j j': 'bookmarks:toggle-bookmark'
  'ctrl-x j n': 'bookmarks:jump-to-next-bookmark'
  'ctrl-x j p': 'bookmarks:jump-to-previous-bookmark'

# linter clobbers these atomic-emacs bindings.
'atom-workspace atom-text-editor.mini, atom-workspace atom-text-editor:not(.mini)':
  'alt->': 'core:move-to-bottom'

'atom-workspace atom-text-editor:not([mini])':
  'ctrl-i': 'snippets:expand'
  'tab': 'editor:auto-indent'
  'alt-enter': 'g:end-block'

'atom-text-editor:not([mini])':
  'ctrl-i': 'snippets:next-tab-stop'
