'atom-workspace':
  'alt-cmd-r': 'window:reload'
  'cmd-n': 'advanced-new-file:toggle'
  'ctrl-x s': 'window:save-all'
  'ctrl-shift-T': 'atomic-emacs:transpose-lines'

'atom-text-editor':
  "ctrl-'": 'core:redo'
  'alt-g': 'go-to-line:toggle'

'atom-text-editor:not([mini])':
  'tab': 'editor:auto-indent'
