.tab-bar {
  display: none;
}

.tree-view {
  li { color: white !important; }
  li.status-ignored, li.status-ignored > .list-item { color: #999 !important; }
}

atom-pane:not(.active) {
  opacity: 0.7;
}

atom-text-editor {
  background-color: black;
  color: white;

  & {
    .syntax--entity.syntax--name { text-decoration: none; }
    .syntax--entity.syntax--inherited-class { color: inherit; }

    .syntax--entity.syntax--name.syntax--function { color: orange !important; }
    .syntax--variable { color: #fbf !important}
    .syntax--constant, .syntax--symbol { color: #dd9 !important; }
    .syntax--entity.syntax--class, .syntax--support.syntax--class, .syntax--support.syntax--type, .syntax--entity.syntax--module, .syntax--entity.syntax--type, .syntax--constant.syntax--variable { color: paleturquoise !important; }
    .syntax--keyword, .syntax--storage, .syntax--self { color: lightsalmon !important; }
    .syntax--preprocessor, .syntax--preprocessor .syntax--keyword { color: tan !important; }
    .syntax--string { color: lightgreen !important; }
    .syntax--comment { color: #8470ff !important; }
    .syntax--entity.syntax--object, .syntax--support.syntax--function, .syntax--special-method, .syntax--property-name, .syntax--ruby.syntax--kernel { color: #ffa !important; }
    .cursor-line { background-color: #024; z-index: -99999999; border-width: -4px; }

    .gfm {
      &.source { color: white !important; }
      &.heading { color: orange !important; }
      &.punctuation, .list { color: lightsalmon !important; }
      &.entity { color: #fbf !important; }
      &.link { color: #5be !important; }
      &.raw { color: lightgreen !important; }
    }

    .gutter {
      background-color: black;

      .line-number:not(.cursor-line) {
        opacity: 0.5;
      }
    }

    .cursor {
      border-left: solid 1px yellow;
    }

    .highlight {
      .region {
        background-color: rgba(255, 255, 255, 0.4);
        z-index: -99999;
      }

      .bracket-matcher {
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 1;
      }
    }

    .highlight.current-result .region {
      background-color: red;
    }

    .highlight.find-result .region {
      background-color: rgba(255, 255, 127, 0.6);
    }

    .indent-guide {
      color: rgba(197, 200, 198, 0.2)
    }

    .wrap-guide {
      background-color: rgba(127, 192, 255, 0.2);
    }
  }
}

.select-list {
  .primary-line {
    color: white !important;
    display: inline !important;
  }

  .secondary-line {
    color: #ccc !important;
    display: inline !important;
  }
}

.rspec-console.rspec pre {
  font-family: Monaco !important;

  a {
    color: #5be !important;
    text-decoration: underline;
  }

  .tty-30 { color: #444 !important; }
  .tty-31 { color: #f44 !important; }
  .tty-32 { color: #4f4 !important; }
  .tty-33 { color: #ff4 !important; }
  .tty-34 { color: #44f !important; }
  .tty-35 { color: #f4f !important; }
  .tty-36 { color: #4ff !important; }
  .tty-37 { color: #fff !important; }
}

status-bar {
  .file-info.buffer-modified {
    color: red;

    a {
      color: red;
    }

    &::after {
      content: none;
    }
  }
}
