.tab-bar {
  display: none;
}

atom-text-editor {
  background-color: black;
  color: white;

  &::shadow {
    .entity.name { text-decoration: none; }
    .entity.inherited-class { color: inherit; }

    .function { color: orange !important; }
    .variable { color: #fbf !important}
    .constant, .symbol { color: #dd9 !important; }
    .entity.class, .support.class, .entity.module, .constant.variable { color: paleturquoise !important; }
    .keyword, .storage, .self { color: lightsalmon !important; }
    .preprocessor, .preprocessor .keyword { color: tan !important; }
    .string { color: lightgreen !important; }
    .comment { color: lightslateblue !important; }
    .special-method, .property-name, .ruby.kernel { color: #ffa !important; }
    .cursor-line { background-color: #024 !important; }

    .gutter {
      background-color: black;

      .line-number:not(.cursor-line) {
        opacity: 0.5;
      }
    }

    .cursor {
      border-left: solid 1px yellow;
    }

    .highlight .region {
      background-color: rgba(255, 255, 255, 0.4);
    }

    .highlight.current-result .region {
      background-color: red;
    }

    .highlight.find-result .region {
      background-color: rgba(255, 255, 127, 0.6);
    }

    .indent-guide {
      color: rgba(197, 200, 198, 0.3)
    }

    .wrap-guide {
      background-color: rgba(127, 192, 255, 0.3);
    }
  }
}
